.user-form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;

    width: 150px;
    height: 25px;

    outline: none;

    padding: 3px;
  }
}